@keyframes divspinright {
  0% {
    opacity: .7;
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rot {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes divspinleft {
  0% {
    transform: rotate(0);
  }
  100% {
    opacity: .7;
    transform: rotate(-360deg);
  }
}
.parent {
  animation: rot 4s infinite ease-in-out;
}
.block {
  position: absolute;
  border-radius: 30%;
  width: 200px;
  height: 200px;
  opacity: .1;
}
.animateLeft {
  background: rgb(138, 43, 226);
  animation: divspinright 1s infinite ease-in-out;
  transform-origin: left;
}
.animateTop {
  background: rgb(148, 0, 221);
  animation: divspinleft 1s infinite;
  transform-origin: top;
}
.animateBottom {
  background: rgb(153, 50, 204);
  animation: divspinright 1s infinite;
  transform-origin: bottom;
}
.animateRight {
  background: rgb(139, 0, 139);
  animation: divspinleft 1s infinite;
  transform-origin: right;
}


